<section class="showcase">
  
    <div class="video-container">
        <video src="https://traversymedia.com/downloads/video.mov" autoplay muted loop></video>
    </div>
    
    <div class="content">
        <h1 style="font-family: 'Times New Roman', Times, serif;">VLEAD</h1>
        <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;">THE MODERN REVOLUTION IN IT </h3>
        <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;">LOGIN TO EXPLORE MORE</h3>
        <a routerLink="/login" class="btn">LOGIN</a>
    </div>
</section>


<section id="about">
    <h1>About</h1>
    <p>
        VLead Design Services, headquartered in Chennai, India, is a full-circle production artwork and embroidery digitizing company with over 300 employees, offering services to the custom-decorating industries world wide.
        VLead’s diverse client base includes Sporting Goods, Fashion Apparel, Promotional Products, Retail, Professional Sports, Collegiate Licensing, Corporate, Uniforms, Licensed Team Sports, Graduation Products, Cheerleading, Printing, Manufacturing and Embroidery markets.
    </p>

</section>
<section id="footer">
<app-footer></app-footer>
</section>